<?xml version="1.0"?>
<!--
/**
 * Copyright © Ambab, Inc. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_quote_collect_totals_after">
        <observer name="save_quote" instance="Ambab\SlidingCart\Plugin\TotalsCollector"/>
    </event>
</config>
