<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="ambab" translate="label" sortOrder="10">
            <label>Ambab</label>
        </tab>
        <section id="slidingcart" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Sliding Cart</label>
            <tab>ambab</tab>
            <resource>Ambab_SlidingCart::slidingcart_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="cart_title" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sliding cart text</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="totals" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show total summary</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends><field id="enable">1</field></depends>
                </field>
                <field id="totals_title" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Totals summary text</label>
                    <depends>
                        <field id="enable">1</field>
                        <field id="totals">1</field>
                    </depends>
                </field>
                <field id="coupon" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allow user to apply coupon</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">1</field>
                        <field id="totals">1</field>
                    </depends>
                </field>
                <field id="addtocart_show_slidingcart" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show sliding cart after Add To Cart</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends><field id="enable">1</field></depends>
                </field>
            </group>
        </section>
    </system>
</config>